.nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    background: linear-gradient(288.64deg, #04204D 14.33%, #517DC2 86.91%);
    height: 40px;
}
.gain-center{
    transition: 0.5s; /* Время эффекта */
    text-align: center; 
  }
  .gain-center:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
  }
.navcontainer {
    min-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.navcontainer img {
    position: relative;
    top: 10px;
    width: 120px;
    height: 100px;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu a {
    margin: 0 10px 0 10px;
}
.menu a:hover {
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
  }
.telhead {
    font-size: 18px;
    line-height: 22px;
}
.telhead:hover {
    /*color: #F9DD01;*/
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
        text-shadow: 2px 2px 2px #000;
  }
.header {
    height: 630px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(288.64deg, #04204D 14.33%, #517DC2 86.91%);
}
.headercontainer {
    min-width: 1200px;
    margin-top: 70px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}
.headercontainer h1, .servisescontainer h2 {
    font-size: 42px;
    line-height: 105%;
    color: #FFFFFF;
}
.headercontainer p {
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    max-width: 600px;
}
.btn {
    width: 308px;
    height: 46px;
    background: #F9DD01;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 12.4545px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #052354;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wom {
    position: absolute;
    right: 0;
    bottom: 0;
}
