.servise {
    width: 100%;
    height: 484px;


    display: flex;
}
.servisecont {
    margin: 0 auto 0 auto;

}
.servisecont h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 39.3158px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #04204D;
    margin: 32.7632px 0px;
}
.serviselist {
    display: flex;
    height: 322px;
    flex-direction: column;
    justify-content: space-between;
}
.serviselist h3 {
    left: 72px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.servitem {
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
}
.servitem img {
    display: flex;
    width: 34px;
    height: 34px;
    margin-right: 15px;
}
.servitem p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.advantage {

    width: 100%;
    height: 424px;

    background: #04204D;
}

.advantagecont {
    margin: 0 auto 0 auto;
    width: 1079px;
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.advantagecont h2, .ourworkscont h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 41px;
    display: flex;
    color: #FFFFFF;
}
.advcarts {
    display: flex;
    width: 100%;
    height: 196.28px;
    justify-content: space-around;
}
.advcart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 196.28px;
    justify-content: space-between;
}
.advcart img {
    display: flex;
    width: 105px;
    height: 105px;
}
.advcart h3 {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.price {
    width: 100%;
    height: 484px;


    display: flex;
}
.pricecontent {
    margin: 0 auto 0 auto;
    width: 1079px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricecontent h2, .contact h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.priceform {

    display: flex;
    width: 1082px;
    height: 351px;

    background: #001241;
    border-radius: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.blockprice {
    width: 438px;
}
.blockprice p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.blockprice select {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 438px;
    height: 69px;
    background: #F4A407;
    border-radius: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #001241;
}

.selop {
    border: 1px solid black;
    border-radius: 10px;
}
.selop:hover {
    font-weight: bold;
    background-color:chartreuse;
}
.selcont {
    background: #F4A407;
    border: 1px solid #F4A407;
    border-radius: 10px;
}
.mettrs, .cost{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 438px;
    height: 69px;
    background: #F4A407;
    border-radius: 20px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #001241;
}
.blockprice input::-webkit-outer-spin-button,
.blockprice input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.cost {
    background: white
}

.ourworks {
    width: 100%;
    background: #001241;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourworkscont {
    width: 1082px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.worksa, .worksb {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.worksa p, .worksb p {
    width: 55%;
    height: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 25.8462px;
    line-height: 110%;
    color: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
}

.worksa img, .worksb img {
    width: 40%;
}
.ourworkscont a {
    font-style: normal;
    font-weight: 500;
    font-size: 23.814px;
    line-height: 28px;
    text-transform: uppercase;
    color: #001241;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: static;
    width: 361.67px;
    height: 64px;
    background: #F4A407;
    border-radius: 14.8837px;
    text-decoration: none;
    justify-content: center;
    align-content: space-around;
}

.contact {
    width: 100%;
    height: 578px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactcontainer {
    width: 1082px;
    height: 578px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.mapcont {
    display: flex;
    width: 45%;
}
.contabout {
    width: 45%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contabout h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}
.contabout p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

