* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
body {
    width: 100%;
    display: flex;
}
.header {
   width: 100%;
   height: 200px;
   display: flex;
}
.navbarwidth {
    width: 100%;
    height: 56px;
    position: absolute;
    top: 5px;
    background-color: white;
    display: flex;
}
.navbar {
    margin: 0 auto 0 auto;
    background-color: rgb(255, 255, 255);
    width: 1079px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    height: 56px;
}
.navbar a {
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #001241;
}
.navbar a:hover {
    font-weight: bold;
}
.headcontent {
    width: 100%;
    height: 732px;
    top: 56px;
    background: #04204D;
    position: absolute;
}
.headercontainer {
    margin: 0 auto 0 auto;
    width: 1079px;
    height: 732px;
}
.headercontainer h1 {
    position: absolute;
    top: 114px;

    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.headercontainer p {
    position: absolute;
    width: 491px;
    height: 130px;
    top: 236px;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
    color: #FFFFFF;
}
.headercontainer button {
    position: absolute;
    width: 274px;
    height: 56.05px;
    top: 439px;
    background: #F4A407;
    border-radius: 12.4545px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 19.9273px;
    line-height: 23px;
    color: #001241;
}
.headercontainer img {
    position: relative;
    width: 501.45px;
    height: 599.83px;
    top: 72px;
    left: 500px;
}
@media screen and (max-width: 769px) {
    .navbar {
        margin-left: 20px;
        margin-right: 20px;
    }
    .headercontainer h1 {
        top: 20px;
        font-size: 38px;
        margin-left: 20px;
    }
    .headercontainer p {
        width: 491px;
        top: 85px;
        font-size: 20px;
        margin-left: 20px;
    }
    .headercontainer button {
        top: 220px;
        margin-left: 80px;
    }
    .headercontainer img {
        width: 240.45px;
        height: 289.83px;
        top: 10px;
        left: 520px;
    }
    .headercontainer {
        height: 320px;
        width: 100%;
    }
    .headcontent {
        height: 320px;
    }
  
}
@media screen and (max-width : 420px) {
    
}