/*HEADER*/
@media screen and (max-width: 1079px) {
    .navbar {
        width: 100%;
    }

    .headercontainer {
        width: 100%;
    }
    .navbar {
        width: 100%;
    }
}
@media screen and (max-width : 425px) {
    .navbar {
       display: none;
    }

}

/*CONTENT*/
@media screen and (max-width: 769px) {

}
@media screen and (max-width : 425px) {

}
/*FORM*/

/*FOOTER*/
@media screen and (max-width: 769px) {

}
@media screen and (max-width : 425px) {

}