 
  .flip-box-inner {

    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 99, 125, 0.49) 0%, rgba(5, 32, 101, 0) 100%);
    color: black;
  }
  
  .flip-box-back {
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 99, 125, 0.49) 0%, rgba(5, 32, 101, 0) 100%);
    color: rgb(5, 0, 0);
    transform: rotateY(180deg);
  }