* {
    padding: 0;
    margin: 0;
}
.header {
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    width: 100%;
    background: url(../images/fons/head.png) no-repeat;
    background-size: 100% 250px;
    height: 250px;
}
.borderdiv {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: rgb(253, 253, 253) 2px solid;
    width: 100%;
    height: 40px;
}
.navbar {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}
.navbar a {
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: white;
}
.navbar a:hover {
    color: #F17B7B;
}
.sticky {
    background-color: #C5D1D8;
    transition: background 1s ease;
}

.stickyt {
    background: transparent;
    transition: background 1s ease;
}
.conthaed {
    display: flex;
    justify-content: space-evenly;
}
.conthaed h1 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    text-transform: uppercase;
    padding-left: 15%;
    color: #FAFBFD;
    text-align: left;
    display: flex;
    height: 200px;
    flex-direction: row;
    align-items: center;
}
.conthaed p {
    display: flex;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    filter: blur(2px);
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: flex-end;
}
@media screen and (max-width: 985px) {
   .navbar, .borderdiv {
       display: none;
   }
   .conthaed h1 {
    font-size: 25px;
    height: 120px;
   }
   .conthaed p {
    font-size: 15px;
    filter: blur(1px);
    text-align: left;
    margin-right: 5px;
    }
    .header {
        height: 150px;
    }
}
