.contact a {
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.contact a:hover {
    font-weight: bold;
}
.contenttwo {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.contact img {
    margin-right: 10px;
}

.conth {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 985px) {

}