* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: black;
    background-size: 100% 250px;
    display: flex;
    border-bottom: #faac05 2px solid;
    flex-direction: column;
}
.borderdiv {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: #faac05 2px solid;
    width: 100%;
    height: 40px;
}
.navbar {
    display: flex;
    width: 1200px;
    justify-content: flex-end;
}
.navbar a, .container h2 {
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: white;
}
.navbar a:hover {
    color: #faac05;
}
.sticky {
    background-color: #C5D1D8;
    transition: background 1s ease;
}

.stickyt {
    background: transparent;
    transition: background 1s ease;
}
.conthaed {
    width: 1200px;
    display: flex;
    justify-content: space-between;
}
.conthaed h1 {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 52px;
    text-transform: uppercase;
    padding-left: 5%;
    color: #FAFBFD;
    text-align: left;
    display: flex;
    height: 200px;
    flex-direction: row;
    align-items: center;
}
.conthaed p {
    display: flex;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    filter: blur(2px);
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: flex-end;
}
.headcontact{
    display: flex;
    width: 1200px;
}
.headcontact img{
    display: flex;
    width: 50px;
    height: 50px;
}
.headcontact img:hover{
    background-color: red;
}