.content {
    width: 70%;
    margin: auto;
}
.cart {
    width: 150px;
    height: 255px;
    background: #FFF7E3;
    border: 1px solid #FF8900;
    box-sizing: border-box;
    border-radius: 11px;
    text-align: center;
    margin: auto;
}

.cart img {
    width: 120px;
    padding-top: 20px;
}
.cart p {
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    color: #000000;
}